@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Rubik:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  color: #dbb42c;
}

p {
  text-align: justify;
}

.certifications-bg {
  background-color: #fff;
}

.certification-header {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.credential {
  text-decoration: underline;
  color: #dbb42c;
}

.important {
  color: #ffd700;
  text-shadow: #dbb42c;
}

.subject {
  font-family: "Montserrat", sans-serif;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-all {
  cursor: pointer;
}

.about-img,
.hero-img {
  border-radius: 10px;
  animation: revealImg 0.5s ease-in;
}

@keyframes revealImg {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInUpSlow {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text {
  animation: moveInUp 0.6s ease-out;
}

.hero-socials {
  animation: moveInUpSlow 1s ease-out;
}

@media screen and (min-width: 350px) {
  a {
    margin-left: 0.5rem;
  }

  p {
    font-size: 10px;
    /* padding: 0 2rem; */
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-info {
    padding: 0 1rem;
  }

  .certifications {
    margin-top: 2rem;
  }

  .certifications-info {
    padding: 0 1rem;
  }

  .certification-subject {
    font-size: 12px;
  }

  .certification-header {
    font-size: 15px;
  }

  .certification-info {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }

  .subject {
    font-size: 27px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .hero-content {
    padding: 0 1rem;
  }

  .about-img,
  .hero-img {
    /* max-height: 600px; */
    max-width: 330px;
  }
}

@media screen and (min-width: 480px) {
  a {
    margin-left: 1.2rem;
    font-size: 1.2rem;
  }

  p {
    font-size: 13px;
    /* padding: 0 2rem; */
  }

  .about-info {
    padding: 0 1.2rem;
  }

  .certifications {
    margin-top: 3rem;
  }

  .certifications-info {
    padding: 0 2.5rem;
  }

  .certification-subject {
    font-size: 15px;
  }

  .certification-header {
    font-size: 20px;
  }

  .certification-info {
    font-size: 15px;
  }

  .copyright {
    font-size: 14px;
  }

  .subject {
    font-size: 36px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .hero-content {
    padding: 0 1rem;
  }

  .about-img,
  .hero-img {
    /* max-height: 400px; */
    max-width: 450px;
  }
}

@media screen and (min-width: 575px) {
  a {
    margin-left: 1.5rem;
    font-size: 1.2rem;
  }

  p {
    font-size: 17px;
  }

  .about-info {
    padding: 0 1.4rem;
  }

  .certifications {
    margin-top: 3rem;
  }

  .certifications-info {
    padding: 0 3rem;
  }

  .certification-subject {
    font-size: 17px;
  }

  .certification-header {
    font-size: 23px;
  }

  .certification-info {
    font-size: 18px;
  }

  .copyright {
    font-size: 15px;
  }

  .subject {
    font-size: 44px;
  }

  .about-img,
  .hero-img {
    /* max-height: 500px; */
    max-width: 550px;
  }

  .hero-content {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 767px) {
  a {
    margin-left: 2rem;
    font-size: 1.5rem;
  }

  p {
    font-size: 20px;
  }

  .about-info {
    padding: 0 1.6rem;
  }

  .certifications {
    margin-top: 3rem;
  }

  .certifications-info {
    padding: 0 4rem;
  }

  .certification-subject {
    font-size: 20px;
  }

  .certification-header {
    font-size: 26px;
  }

  .certification-info {
    font-size: 21px;
  }

  .copyright {
    font-size: 16px;
  }

  .logo {
    margin-right: 1rem;
  }

  .subject {
    font-size: 50px;
  }

  .about-img,
  .hero-img {
    /* max-height: 600px; */
    max-width: 730px;
  }

  .hero-content {
    padding: 0 1rem;
  }

  .portfolio {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .portfolio-info {
    padding: 2.5rem;
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .portfolio-img {
    max-width: 40vw;
    margin-top: 0.5rem;
  }

  .portfolio-text {
    font-size: 13px;
  }

  .portfolio-subject {
    font-size: 35px;
  }
}

@media screen and (min-width: 991px) {
  a {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  p {
    font-size: 14px;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-info {
    padding: 0 1.8rem;
  }

  .certifications {
    margin-top: 3rem;
  }

  .certifications-info {
    padding: 0 5rem;
  }

  .certification-subject {
    font-size: 25px;
  }

  .certification-header {
    font-size: 25px;
  }

  .certification-info {
    font-size: 20px;
  }

  .copyright {
    font-size: 17px;
  }

  .subject {
    font-size: 37px;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
  }

  .about-img,
  .hero-img {
    /* max-height: 450px; */
    max-width: 500px;
    margin-left: 1rem;
  }

  .hero-content {
    padding: 0 1rem;
  }

  .portfolio-text {
    font-size: 15px;
  }

  .portfolio-info {
    padding: 2rem;
    gap: 2rem;
    margin-top: 3.5rem;
  }

  .portfolio-subject {
    font-size: 40px;
  }
}

@media screen and (min-width: 1199px) {
  a {
    margin-left: 2rem;
    font-size: 2rem;
  }

  p {
    font-size: 18px;
  }

  .about-img {
    margin-left: 3rem;
  }

  .about-info {
    padding: 0 2rem;
  }

  .certifications {
    margin-top: 3rem;
  }

  .certifications-info {
    padding: 0 6rem;
  }

  .certification-subject {
    font-size: 30px;
  }

  .certification-header {
    font-size: 31px;
  }

  .certification-info {
    font-size: 26px;
  }

  .subject {
    font-size: 45px;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
  }

  .about-img,
  .hero-img {
    /* max-height: 500px; */
    max-width: 600px;
  }

  .hero-img {
    margin-left: 1rem;
  }

  .hero-content {
    padding: 0 1rem;
  }

  .portfolio-text {
    font-size: 20px;
  }

  .portfolio-info {
    padding: 2rem;
    gap: 2.5rem;
    margin-top: 4.5rem;
  }

  .portfolio-subject {
    font-size: 45px;
  }
}

@media screen and (min-width: 1599px) {
  a {
    margin-left: 2.5rem;
    font-size: 2.5rem;
  }

  p {
    font-size: 20px;
  }

  .about-img {
    display: flex;
    justify-content: center;
  }

  .about-img {
    margin-left: 8rem;
  }

  .about-info {
    padding: 0 2.2rem;
  }

  .certifications {
    margin-top: 3rem;
  }

  .certifications-info {
    padding: 0 8rem;
  }

  .certification-subject {
    font-size: 30px;
  }

  .certification-header {
    font-size: 35px;
  }

  .certification-info {
    font-size: 30px;
  }

  .subject {
    font-size: 50px;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
  }

  .about-img,
  .hero-img {
    /* max-height: 600px; */
    max-width: 850px;
  }

  .hero-img {
    margin-left: 2rem;
  }

  .hero-content {
    padding: 0 1rem;
  }

  .portfolio-text {
    font-size: 25px;
  }

  .portfolio-info {
    padding: 3rem;
    gap: 4rem;
    margin-top: 7rem;
  }

  .portfolio-subject {
    font-size: 60px;
  }
}
